       <div class="body" >

       <div class="body table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
              <tr>
                <th>CSO</th>
                <th>Project</th>
                <th>Subject</th>
                <th>Amendment Criterias</th>
                <th>Approval Status</th>
                <th>Attachment</th>
                <th></th>

              </tr>
            </thead>

            <tbody>
              <% @project_extentions.each do |project_extention| %>
              <% if !project_extention.approval_status.blank? %>
                <tr>
                  <td><%= project_extention.project.institution %></td>
                  <td><%= project_extention.project %></td>
                  <td><%= project_extention.subject %></td>
                  <td>
                    1. Activities -/+ : <b> <%= project_extention.activity_change %> </b> <br>
                    2. Budget Change -/+ : <b><%= project_extention.budget_change %></b> <br>
                    3. Implementation Area Change : <b><%= project_extention.ia_change %></b> <br>
                    4. Does the amendment project implementation duration ? : <b> <%= project_extention.within_project_duration %> </b>
                  </td>
                  <td> <div class='col-sm-8 <%= project_extention.approval_status.blank? ? "alert-danger" : 'alert-success' %>'> <%= project_extention.project_extention_approval_status %>  </div> <%= link_to 'Approve', approve_project_extention_path(project_extention), data: { approve: 'Are you sure you want to approve the amendment?' }, class: 'btn btn-primary' if project_extention.approval_status.blank? and can? :approve, ProjectExtention %></td>
                  <td><%= link_to 'Download', project_extention.amendment_details rescue nil %></td>
                  <td>
                    <%= link_to 'Show', project_extention, class: 'btn btn-primary' %>
                    <%= link_to 'Edit', edit_project_extention_path(project_extention), class: 'btn btn-primary' %>
                    <%= link_to 'Destroy', project_extention, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>

                  </td>
                </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
