<div class="body">
<strong>Project Amendment Request From: </strong> <%= @project_extention.project.institution %>
<hr>
<p>
  <strong>Project:</strong> <%= @project_extention.project %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @project_extention.subject %>
</p>

<strong>Why are you requesting for project amendment ? </strong>
<p>
  <strong>Due to project activities change ? : </strong>   <%= @project_extention.activity_change %> <br>
  <strong>Due to budget change ? : </strong>  <%= @project_extention.budget_change %> <br>
  <strong>Due to implementation areas change ? :</strong>  <%= @project_extention.ia_change %>
</p>

<p>
  <strong>Does the amendment change duration of project implementation ? :</strong> <%= @project_extention.within_project_duration %>
</p>

<p>
  <strong> Amendment Request Details</strong> <br>
  <%= raw @project_extention.details %>
</p>

<p> <strong>Attachment</strong>: <%= link_to 'Download', @project_extention.amendment_details rescue nil %> </p>
<hr>
<p>
        <strong>Approval Status:</strong>
        <div class='col-sm-3 <%= @project_extention.approval_status.blank? ? "alert-danger" : "alert-success" %>'> <%= @project_extention.project_extention_approval_status %> <br></div> &nbsp; &nbsp; &nbsp; <%= link_to 'Approve', approve_project_extention_path(@project_extention), class: 'btn btn-primary' if @project_extention.approval_status.blank? and can? :approve, ProjectExtention %> 
</p>
<%= link_to 'Edit', edit_project_extention_path(@project_extention) if !current_user.admin? %> |
<%= link_to 'Back', project_extentions_path %>
</div>