
<%= simple_nested_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :project, as: :hidden, input_html: {value: @project.id} %>
    <%= f.input :project_evaluation_type, collection: [f.object.project_evaluation_type] %>
    <%= f.input :evaluation_date, as: :string, input_html: { class: "datepicker" }  %>
    <%= f.input :remark, input_html: {class: 'wysihtml5'} %> <br/>
    <%= f.file_field :evaluation_file %>

  </div>

    <br/>
   <br/>

   <legend>EVALUATORS </legend>
      <%= f.simple_fields_for :evaluators do |evaluator| %>
        <div class='fields row'>
        <table class="table">
          <thead>
          <tr>
            <th>Full Name</th>
            <th>Phone</th>
            <th>E-Mail</th>
          </tr>
          </thead>
          <tr><td><%= evaluator.input :evaluation_id, as: :hidden, input_html: { value: :id } %></td> </tr>
          <tr>

              <td>
                <%= evaluator.input_field :full_name, placeholder: 'Full Name', class: 'form-control' %>
                <%= evaluator.full_error :full_name %>
              </td>
              <td>
                <%= evaluator.input_field :phone, placeholder: 'Phone', class: 'form-control' %>
                <%= evaluator.full_error :phone %>
              </td>
              <td>
                <%= evaluator.input_field :email, placeholder: 'E-Mail', class: 'form-control' %>
                <%= evaluator.full_error :email %>
              </td>
              <td><%= evaluator.link_to_remove "Remove", class: 'btn btn-danger' %></td>
            </tr>
        </table>
        </div>

      <%= javascript_include_tag 'AdminBSBMaterialDesign/form_index' %>
      <% end %>
      <p><%= f.link_to_add 'Add Evaluator', :evaluators , class: 'btn btn-primary' %> </p>

<br/>
<br/>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
