<div class="body">
<p>
  <strong>Project:</strong>
  <%= @evaluation.project %>
</p>

<p>
  <strong>Project evaluation type:</strong>
  <%= @evaluation.project_evaluation_type %>
</p>

<p>
  <strong>Date of Evaluation:</strong>
  <%= @evaluation.evaluation_date %>
</p>

<p>
  <strong>Remark:</strong>
  <%= raw @evaluation.remark %>
</p>

<p>
  <strong>Project evaluation type:</strong>
  <%= link_to 'Download', @evaluation.evaluation_file rescue nil %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation), class: 'btn btn-primary' %> |
<%= link_to 'Back', evaluations_path, class: 'btn btn-primary' %>
</div>