
<%= simple_form_for(@evaluator) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :evaluation %>
    <%= f.input :full_name %>
    <%= f.input :phone %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
