<p id="notice"><%= notice %></p>
    <div class="header">
      <h2>
        Funding Statuses
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funding_statuses.each do |funding_status| %>
      <tr>
        <td><%= funding_status.name %></td>
        <td><%= link_to 'Show', funding_status, class: 'btn btn-primary', class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_funding_status_path(funding_status), class: 'btn btn-primary' %>
        <%= link_to 'Delete', funding_status, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funding Status', new_funding_status_path, class: 'btn btn-primary' %>
