<div class="body">
<%= simple_form_for(@institution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
      <div class="col-sm-6">
        <%= f.input :name %>
        <%= f.input :short_name %>
        <%= f.association :institution_type %>
        <%= f.association :institution_status %>
        <%= f.input :license_no %>
        <%= f.association :region %>
        <%= f.input :district %>
        <%= f.input :office_phone %>
      </div>
      <div class="col-sm-6 left_form">
        <%= f.input :office_email %>
        <%= f.input :p_o_box %>
        <%= f.input :fax_number %>
        <%= f.input :contact_person %>
        <%= f.input :contact_phone %>
        <%= f.input :contact_email %>
        <%= f.input :url %>
        <%= f.input :image, as: :file %>
      </div>
    </div>
    <%= f.input :about_institution, wrapper: :vertical_form, input_html: {class: 'wysihtml5'} %>

  <div class="form-actions">
    <%= f.button :submit, 'Create CHSO', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>