<div class="body">

<div class="row">
  <div class="col-sm-4">
      <div style="width: 200px; height: auto; ">
        <%= image_tag(@institution.image) rescue nil %>
      </div>
  </div>
  <div class="col-sm-4">
    <strong><font color="#0873b9"> <%= @institution.short_name %> </font></strong> <br/> <%= @institution.name %> 
  </div>
  <div class="col-sm-4">
    &nbsp; 

  </div>
</div>
  
  <hr>

  <div class="row">
    <div class="col-sm-4">
      <fieldset class="sub_form">
      <legend><h4>CSO STATUSE</h4></legend>
      <p><strong>CHSO TYPE: </strong>  <%= @institution.institution_type %></p>
      <p><strong>STATUS:</strong> <%= @institution.institution_status %></p>
      <p><strong>LICENSE NO :</strong> <%= @institution.license_no %></p><br>
      </fieldset>
    </div>
    <div class="col-sm-4">
      <fieldset class="sub_form">
      <legend><h4>CSO ADDRESS</h4></legend>
      <p><strong>Region:</strong>   <%= @institution.region %></p>
      <p><strong>District:</strong>   <%= @institution.district %></p>
      <p><strong>P.O.BOX:</strong>  <%= @institution.p_o_box %></p>
      <p><strong>Office phone:</strong>  <%= @institution.office_phone %> </p>
      <p><strong>Fax number:</strong>  <%= @institution.fax_number %> </p>
      <p> <strong>Email:</strong>  <%= @institution.office_email %> </p>
      <p> <strong>Website:</strong>  <%= @institution.url %> </p> <br>
    </fieldset>
    </div>
    <div class="col-sm-4">
      <fieldset class="sub_form">
        <legend><h4>CONTACT PERSON</h4></legend>
        <p><strong>Full Name:</strong> <%= @institution.contact_person %></p>
        <p><strong>Phone:</strong> <%= @institution.contact_phone %></p>
        <p><strong>E-Mailmail:</strong> <%= @institution.contact_email %></p> <br>
      </fieldset>
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <fieldset class="sub_form">
        <legend> <h4> ABOUT <font color="#0873b9"><%= @institution.short_name %> </font></h4> </legend>
        <p> <%= raw @institution.about_institution %> </p>
      </fieldset>
    </div>
  </div>

<br/>
<hr/>
<%= link_to 'Edit', edit_institution_path(@institution), class: 'btn btn-primary' %> &nbsp; &nbsp; 
<%= link_to 'Back', institutions_path, class: 'btn btn-primary' %>
</div>