    <div class="header">
      <h2>
       Approval Pending Project Extention Requests
      </h2>
    </div>
<div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Project</th>
      <th>CSO</th>
      <th>From</th>
      <th>To</th>
      <th>Reason</th>
      <th>Approval Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project_amendments.each do |project_amendment| %>
    <% if project_amendment.approval_status.blank? %>
      <tr>
        <td><%= project_amendment.project %></td>
        <td><%= project_amendment.project.institution %></td>
        <td><%= project_amendment.from %></td>
        <td><%= project_amendment.to %></td>
        <td><%= project_amendment.amendment_reason %></td>
        <td> <div class='col-sm-8 <%= project_amendment.approval_status.blank? ? "alert-danger" : 'alert-success' %>'> <%= project_amendment.project_amendment_approval_status %>  </div> <%= link_to 'Approve', approve_project_extention_path(project_amendment), data: { approve: 'Are you sure you want to approve the extention?' }, class: 'btn btn-primary' if project_amendment.approval_status.blank? and can? :approve, ProjectAmendment %></td>
        <td><%= link_to 'Show', project_amendment.project, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
