<p id="notice"><%= notice %></p>

    <div class="header">
      <h2>
       Extended Projects 
      </h2>
    </div>
<div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Project</th>
      <th>CSO</th>
      <th>From</th>
      <th>To</th>
      <th>Reason</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_amendments.each do |project_amendment| %>
      <tr>
        <td><%= project_amendment.project %></td>
        <td><%= project_amendment.project.institution %></td>
        <td><%= project_amendment.from %></td>
        <td><%= project_amendment.to %></td>
        <td><%= project_amendment.amendment_reason %></td>
        <td><%= link_to 'Show', project_amendment.project, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
