<p id="notice"><%= notice %></p>

    <div class="header">
      <h2>
        Projects Statuses
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_statuses.each do |project_status| %>
      <tr>
        <td><%= project_status.name %></td>
        <td><%= link_to 'Show', project_status, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_project_status_path(project_status), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', project_status, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Status', new_project_status_path, class: 'btn btn-primary' %>
