<p id="notice"><%= notice %></p>

    <div class="header">

<h2>Project Evaluation Types</h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_evaluation_types.each do |project_evaluation_type| %>
      <tr>
        <td><%= project_evaluation_type.name %></td>
        <td><%= link_to 'Show', project_evaluation_type, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_project_evaluation_type_path(project_evaluation_type), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', project_evaluation_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Evaluation Type', new_project_evaluation_type_path, class: 'btn btn-primary' %>
