<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password, as: :password, autocomplete: "off" %>
    <%= f.input :password_confirmation, as: :password, autocomplete: "off" %>
	<%= f.input :superadmin_role, label: 'Super Admin', label_html: {class: 'transparent_label'} %>
	<%= f.input :supervisor_role, label: 'Supervisor', label_html: {class: 'transparent_label'} %>
	<%= f.input :admin, label: 'Admin', label_html: {class: 'transparent_label'} %>
	<%= f.input :user_role, label: 'User', label_html: {class: 'transparent_label'} %>
    <%= f.association :institution if current_user.admin? %>
    <hr/>
<div class="form-actions">
<%= f.button :submit %>
</div>
<% end %>

