
<% content_for :header do %>
    <div class="row clearfix">

          <%= link_to institutions_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-teal hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">account_balance</i>
                  </div>
                  <div class="content">
                    <div class="text"><stron>CHSOs</strong></div>
                    <div class="number"><%= Institution.count  %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                  </div>
                  <div class="content">
                    <div class="text">Projects</div>
                    <div class="number"><%= Project.count %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to upcoming_mid_term_evaluations_projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text">Upcoming Mid-Term Evaluations</div>
                    <div class="number"><%= Project.upcoming_mid_term_evaluations.count %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to upcoming_end_term_evaluations_projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text">Upcoming End-Term Evaluations</div>
                    <div class="number"><%= Project.upcoming_end_term_evaluations.count %></div>
                  </div>
                </div>
              </div>
          <% end %>
    </div>
<br>

<br>
    <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="card">
                        <div class="header">
                            <h2>PROJECTS BY REGION</h2>
                        </div>
                        <div class="body">
                          <%= pie_chart project_by_region_projects_path, donut: true %>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="card">
                        <div class="header">
                            <h2>PROJECTS BY REGION AND FOCUS AREA</h2>
                        </div>

                        <div class="body">
                          <%= column_chart projects_by_focus_area_projects_path, curve: false, code: true %>
                        </div>
                    </div>
                    </div>
                </div>
              </div>-

              <div class="row clearfix">
                    <div class="card">
                        <div class="header">
                            <h2>RECENT PROJECTS</h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                  <thead>
                                    <tr>
                                      <th>Project Title</th>
                                      <th>Focus Area</th>
                                      <th>Project Status</th>
                                      <th>CSO</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% @projects.each do |project| %>
                                      <tr>
                                        <td><%= project.project_title %></td>
                                        <td><%= project.focus_area %></td>
                                                <td>
              <label class="label <%= project.status == 'Not Started' ? 'label-default' :
                                          (project.status == 'Ongoing' ? 'label-warning' :
                                               (project.status == 'Deadline Passed' ? 'label-success' : 'label-default')) %>">
                <%= project.status %>
              </label>
        </td>
        <td><%= project.institution %></td>
                                        
                                        
                                        <td><%= link_to 'Details', project, class: 'btn btn-primary' %></td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                            </table>
                        </div>
                      </div>

<% end %>