    <div class="body">
    <div class="header">
      <h2>
        Performance Reports
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Project</th>
      <th>Implementing CSO</th>
      <th>Reporting type</th>
      <th>Remark</th>
      <th>Report File</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performance_reports.each do |performance_report| %>
      <tr>
        <td><%= performance_report.project %></td>
        <td><%= performance_report.project.institution %></td>
        <td><%= performance_report.reporting_type %></td>
        <td><%= performance_report.remark %></td>
        <td><%= link_to 'Download', performance_report.reports rescue nil %></td>
        <td><%= link_to 'Show', performance_report.project, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>