<div class="body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @performance_report.project %>
</p>

<p>
  <strong>Reporting type:</strong>
  <%= @performance_report.reporting_type %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @performance_report.remark %>
</p>

<p>
  <strong>Report File :</strong>

  <%= link_to 'Download', @performance_report.reports rescue nil %>
</p>

<%= link_to 'Edit', edit_performance_report_path(@performance_report), class: 'btn btn-primary' %> |
<%= link_to 'Back', performance_reports_path, class: 'btn btn-primary' %>
</div>