<div class="body">
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <table>
      <tr>
        <td><%= f.input :project_title %></td> <td> &nbsp;  &nbsp;  &nbsp; </td> <td> <%= f.association :institution %> </td>
    </tr>
    <tr>
      <td> <%= f.association :focus_area %> </td> <td>  &nbsp;  &nbsp;  &nbsp;  </td> <td> <%= f.association :sub_focus_area %> </td>
    </tr>

    <tr>
      <td> <%= f.input :direct_beneficiaries %> </td> <td>  &nbsp;  &nbsp;  &nbsp;  </td> <td> <%= f.input :indirect_beneficiaries %> </td>
    </tr>

    <tr>
      <td> <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %> </td> <td>  &nbsp;  &nbsp;  &nbsp;  </td> <td><%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %> </td>
    </tr>

    <tr>
      <td> <%= f.input :mid_term_evaluation_date, as: :string, input_html: { class: "datepicker" } %> </td> <td>  &nbsp;  &nbsp;  &nbsp;  </td> <td><%= f.input :end_term_evaluation_date, as: :string, input_html: { class: "datepicker" } %> </td>
    </tr>

    </table>
    
    <%= f.input :project_details, input_html: {class: 'wysihtml5'} %>
    <%= f.association :project_status %>
    
    
    
    
    <%= f.input :total_budget %>
    <%= f.input :program_budget %>
    <%= f.input :admin_budget %>
    <%= f.association :funding_status %>
    
    
    <%= f.association :reporting_type %>
    <%= f.input :project_focal_person %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
</div>