<div class="body">
<%= simple_nested_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
      <div class="col-sm-6">
        <%= f.input :project_title %>
        <%= f.association :institution %>
        <%= f.association :focus_area, prompt: true %> 
        <div id='sub_focus_area'>
          <%= render 'sub_focus_area' %>
        </div>
        <%= f.input :direct_beneficiaries %>
        <%= f.input :indirect_beneficiaries %>
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
        <%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %>
        </div>
        <div class="col-sm-6 left_form">   
        <%= f.input :project_status, collection: Project::PHASE_STATUSES %>
        <%= f.association :reporting_type %>
        <%= f.association :funding_status %>
        <%= f.input :total_budget %>
        <%= f.input :program_budget %>
        <%= f.input :admin_budget %>
      </div>
    </div>
    <%= f.input :project_details, wrapper: :vertical_form, input_html: {class: 'wysihtml5'} %>

   <legend>FUNDING SOURCES </legend>
      <%= f.simple_fields_for :funders do |funder| %>
        <div class='fields row'>
        <table class="table">
          <thead>
          <tr>
            <th>Funding Organization</th>
            <th>Amount</th>
            <th>Currency</th>
            <th></th>
          </tr>
          </thead>
          <tr>
              <td>
                <%= funder.input_field :institution_id, collection: Institution.all, prompt: 'Select Institution', class: 'form-control' %>
                <%= funder.full_error :institution_id %>
              </td>
              <td>
                <%= funder.input_field :amount, placeholder: 'Amount', class: 'form-control' %>
                <%= funder.full_error :amount %>
              </td>
              <td>
                
                <%= funder.input_field :currency, collection: ['ETB', 'USD', 'EURO'], class: 'form-control' %>
                <%= funder.full_error :currency %>
              </td>
              <td><%= funder.link_to_remove "Remove", class: 'btn btn-danger' %></td>
            </tr>
        </table>
        </div>

      <%= javascript_include_tag 'AdminBSBMaterialDesign/form_index' %>
      <% end %>
      <p><%= f.link_to_add 'Add Funder', :funders , class: 'btn btn-primary' %> </p>

<br/>
<br/>



   <br/>
   <br/>

   <legend>PROJECT IMPLEMENTATION AREA </legend>
      <%= f.simple_fields_for :implementation_areas do |ia| %>
        <div class='fields row'>
        <table class="table">
          <thead>
          <tr>
            <th>Region</th>
            <th>Zone</th>
            <th>Woreda</th>
            <th>Allocated Budget</th>
            <th>Contact Person</th>
            <th>Phone No</th>
            <th>E-Mail</th>
            <th></th>
          </tr>
          </thead>
          <tr>
              <td>
                <%= ia.input_field :region_id, collection: Region.all, prompt: 'Select Region', class: 'form-control' %>
                <%= ia.full_error :region_id %> 
              </td>
              <td>
                <%= ia.input_field :zone, placeholder: 'Zone', class: 'form-control' %>
                <%= ia.full_error :zone %>
              </td>
              <td>
                <%= ia.input_field :district, placeholder: 'Woreda', class: 'form-control' %>
                <%= ia.full_error :district %>
              </td>
              <td>
                <%= ia.input_field :allocated_budget, placeholder: 'Allocated Budget', class: 'form-control' %>
                <%= ia.full_error :allocated_budget %>
              </td>
              <td>
                <%= ia.input_field :contact_person, placeholder: 'Contact Person', class: 'form-control' %>
                <%= ia.full_error :contact_person %>
              </td>
              <td>
                <%= ia.input_field :phone_number, placeholder: 'Phone No.', class: 'form-control' %>
                <%= ia.full_error :phone_number %>
              </td>
              <td>
                <%= ia.input_field :email, placeholder: 'E-Mail', class: 'form-control' %>
                <%= ia.full_error :email %>
              </td>
              <td><%= ia.link_to_remove "Remove", class: 'btn btn-danger' %></td>
            </tr>
        </table>
        </div>
      <%= javascript_include_tag 'AdminBSBMaterialDesign/form_index' %>
      <% end %>
      <p><%= f.link_to_add 'Add Area', :implementation_areas, class: 'btn btn-primary' %> </p>

<br/>
<br/>



<legend>PROJECT FOCAL PERSON</legend>
    <table>
      
      <tr><td> <%= f.input :project_focal_person %> </td> <td>  &nbsp;  &nbsp;  &nbsp;  </td> <td> <%= f.input :phone_number %> </td> <td>  &nbsp;  &nbsp;  &nbsp;  </td> <td> <%= f.input :email %> </td></tr>
    </table>     
    

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
</div>