
    <div class="header">
      <h2>
       Acceptance Pending Projects
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Acceptance Status</th>
      <th>CSO</th>
      <th>Focus Area</th>
      <th>Sub Focus Area</th>
      <th>Regions</th>
      <th>Submission Date</th>      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <% if project.acceptance_status.blank? %>
      <tr>
        <td><%= project.project_title %></td>
        <td>
          <label class="label <%= project.acceptance_status.blank? ? 'label-warning' : 'label-default' %>"> <%= project.pa_status %>
          </label>
          <%= link_to 'Confirm Project', confirm_project_path(project), data: { confirm: 'Are you sure you want to confirm project acceptance? Make sure you read details of the project first and check if it complies with the requirements' }, class: 'btn btn-primary' if project.acceptance_status.blank? and can? :confirm, Project %>
          
        </td>
        <td><%= project.institution.short_name %></td>
        <td><%= project.focus_area %></td>
        <td><%= project.sub_focus_area %></td>
        <td><%= project.implementation_areas.to_sentence %></td>
        <td><%= project.created_at.strftime("%A, %C %B %G %R") %></td>
        <td><%= link_to 'Show', project, class: 'btn btn-primary' %>
        
          
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
</div>