
    <div class="header">
      <h2>
       All accepted projects
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Status </th>
      <th>CSO</th>
      <th>Program Area</th>
      <th>Focus Area</th>
      <th>Sub Focus Area</th>
      <th>Regions</th>
      <th>Funding Status</th>
      <th>Subimission Date</th>
      
      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <% if !project.acceptance_status.blank? %>
      <tr>
        <td><%= project.project_title %></td>
        <td>
              <label class="label <%= project.status == 'Not Started' ? 'label-default' :
                                          (project.status == 'Ongoing' ? 'label-warning' :
                                               (project.status == 'Deadline Passed' ? 'label-success' : 'label-default')) %>">
                <%= project.status %>
              </label>
        </td>
        <td><%= project.institution.short_name %></td>
        <td><%= project.program_area %></td>

        <td><%= project.focus_area %></td>
        <td><%= project.sub_focus_area %></td>
        <td><%= project.implementation_areas.to_sentence %></td>
        <td><%= project.funding_status %></td>
        <td><%= project.created_at.strftime("%A, %C %B %G %R") %></td>
        <td><%= link_to 'Show', project, class: 'btn btn-primary' %> <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
</div>