<div class="body">
  <!-- Nav tabs -->
      <p>
      <div class="row">
          <div class="col-sm-6">
            <p>Project Title : <strong> <%= @project.project_title %></strong></p>
            <p>Start Date: <strong> <%= @project.start_date %> </strong></p> 
            <p>End Date : <strong> <%= @project.end_date %> </strong></p>
          </div>
          <div class="col-sm-6">
            <p>Implementing CSO : <strong> <%= @project.institution %></strong></p>
            <p> Submission Date : <strong> <%= @project.created_at.strftime("%A, %C %B %G %R") %></strong> </p>
           
          </div>
        </div>
        <br/>
    
  <ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#project_details" data-toggle="tab"> <i class="material-icons">widgets</i> &nbsp; <b>Project Details</b></a></li>
    <li role="presentation"><a href="#fundings" data-toggle="tab"> <i class="material-icons">attach_money</i> &nbsp; <b>Fundings </b></a></li>
    <li role="presentation"><a href="#implementation_areas" data-toggle="tab"> <i class="material-icons">map</i> &nbsp; <b> Implementation Areas </b></a></li>
    <li role="presentation"><a href="#performance_reports" data-toggle="tab"> <i class="material-icons">chrome_reader_mode</i> &nbsp; <b> Performance Reports </b> </a></li>
    <li role="presentation"><a href="#evaluations" data-toggle="tab"> <i class="material-icons">view_list</i> &nbsp; <b>Evaluations </b></a></li>
    <li role="presentation"><a href="#amendments" data-toggle="tab"> <i class="material-icons">date_range</i> &nbsp; <b>Project Amendment </b></a></li>
    <li role="presentation"><a href="#extentions" data-toggle="tab"> <i class="material-icons">date_range</i> &nbsp; <b>Project Extentions </b></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="project_details">

      <div class="row">
          <div class="col-sm-4">
            <fieldset class="sub_form">
              <legend><h4>PROJECT DETAILS</h4></legend>
                    <p>
                      <strong>Focus Area:</strong>
                      <%= @project.focus_area %>
                    </p>

                    <p>
                      <strong>Sub Focus Area:</strong>
                      <%= @project.sub_focus_area %>
                    </p>

                    <p>
                      <strong>Other Sub Focus Areas:</strong>
                      <%= @project.other_sub_focus_areas %>
                    </p>

                    <p>
                      <strong>No. of Direct Beneficiaries:</strong>
                      <%= @project.direct_beneficiaries %>
                    </p>
                    <p>
                      <strong>Type of Direct Beneficiaries:</strong>
                      <%= @project.dbt %>
                    </p>

                    <p>
                      <strong>No. of Indirect Beneficiaries:</strong>
                      <%= @project.indirect_beneficiaries %>
                    </p>
                    <p>
                      <strong>Type of Indirect Beneficiaries:</strong>
                      <%= @project.ibt %>
                    </p>

            </fieldset>
          </div>

          <div class="col-sm-4">
            <fieldset class="sub_form">
              <legend><h4>STATUSES</h4></legend>
                    <p>
                    <strong>Acceptance Status:</strong>
                      <label class="label <%= @project.acceptance_status.blank? ? 'label-warning' : 'label-default' %>"> <%= @project.pa_status %>
                      </label>
                      <%= link_to 'Confirm Project', confirm_project_path(@project), class: 'btn btn-primary' if @project.acceptance_status.blank? and can? :confirm, Project %> 
                    </p>

                    <% if !@project.acceptance_status.blank? %>
                        <p>
                            <strong>Project Phase Status:</strong>
                            <%= @project.project_status %>
                        </p>
                      
                        <p>
                          <strong>Project Status:</strong>
                                <label class="label <%= @project.status == 'Not Started' ? 'label-default' :
                                                            (@project.status == 'Ongoing' ? 'label-warning' :
                                                                 (@project.status == 'Deadline Passed' ? 'label-success' : 'label-default')) %>">
                                  <%= @project.status %>
                                </label>
                        </p>
                    <% end %>
              
            </fieldset>
          </div>

          <div class="col-sm-4">
            <fieldset class="sub_form">
              <legend><h4>PROJECT FOCAL PERSON</h4></legend>
               <p>
                <strong>Full Name: </strong>
                <%= @project.project_focal_person %>
              </p>
              <p>
                <strong>Phone Number: </strong>
                <%= @project.phone_number %>
              </p>
                <p>
                  <strong>Email: </strong>
                  <%= @project.email %>
                </p>
            </fieldset>
          </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <fieldset class="sub_form">
              <legend><h4>ABOUT THE PROJECT</h4></legend>
              <p>
                <%= raw @project.project_details %>
              </p>

              <p>
               <strong>Project Proposal File :</strong>

                   <%= link_to 'Download', @project.proposal rescue nil %>
              </p>
        </div>
      </fieldset>
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="fundings">
        <p>
          <strong>Funding status:</strong>
          <%= @project.funding_status %>
        </p>

        <p>
          <strong>Total budget:</strong>
          <%= @project.total_budget %>
        </p>

        <p>
          <strong>Program budget:</strong>
          <%= @project.program_budget %>  <%= @project.currency %>  <b>(<%= percentage(@project.program_budget,@project.total_budget) %>%)</b>
        </p>

        <p>
          <strong>Admin budget:</strong>
          <%= @project.admin_budget %>  <%= @project.currency %>  <b>(<%= percentage(@project.admin_budget,@project.total_budget) %>%)</b>
        </p>

        <div class="header">
          <h2>
            Funding Institutions
          </h2>
        </div>
        <div class="body table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
              <tr>
                <th>Funder</th>
                <th>Amount</th>
                <th>Currency</th>
              </tr>
            </thead>

            <tbody>
              <% @project.funders.each do |funder| %>
                <tr>
                  
                  <td><%= funder.funding_inst %></td>
                  <td><%= funder.amount %></td>
                  <td><%= funder.currency %></td>

                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="implementation_areas">
      <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
          <tr>
            <th>#</th>
            <th>Region</th>
            <th>Zone</th>
            <th>District</th>
            <th>Contact person</th>
            <th>Phone number</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @project.implementation_areas.each do |implementation_area| %>
            <tr>
              <td><%= implementation_area.id %></td>
              <td><%= implementation_area.region %></td>
              <td><%= implementation_area.zone %></td>
              <td><%= implementation_area.district %></td>
              <td><%= implementation_area.contact_person %></td>
              <td><%= implementation_area.phone_number %></td>
              <td><%= implementation_area.email %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="performance_reports">
        <p>
          <strong>Performance Report Status:</strong>
          <td><%= @project.reporting_type rescue nil %></td>
        </p>

      <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
          <tr>
            <th>#</th>
            <th>Reporting type</th>
            <th>Remark</th>
            <th>Report File</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @project.performance_reports.each do |performance_report| %>
            <tr>
              <td><%= performance_report.id %></td>
              <td><%= performance_report.reporting_type %></td>
              <td><%= performance_report.remark %></td>
              <td><%= link_to 'Download', performance_report.reports rescue nil %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table> 
      <%= link_to 'Add Project Performance Report', new_performance_report_path(project: @project.id), class: 'btn btn-primary' %>
    
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="evaluations">

      <p>
        <strong>Mid term evaluation date:</strong>
        <%= @project.mid_term_evaluation_date %>
      </p>

      <p>
        <strong>End term evaluation date:</strong>
        <%= @project.end_term_evaluation_date %>
      </p>

      <% unless @project.mid_term_evaluation.blank? %>

          <div class="body table-responsive">
              <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                <thead>
                  <tr>
                    <th>Evaluation Type </th>
                    <th>Evaluation Date</th>
                    <th>Remark</th>
                    <th>Attachment</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @project.evaluations.each do |evaluation| %>
                    <tr>
                      <td><%= evaluation.project_evaluation_type %></td>
                      <td><%= evaluation.evaluation_date %></td>
                      <td><%= raw evaluation.remark %></td>
                      <td><%= link_to 'Download', evaluation.evaluation_file rescue nil %></td>
                      <%= link_to 'Edit', edit_evaluation_path(evaluation), class: 'btn btn-primary'  %>
                   </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

   <% else %>
      <%= link_to 'Add Mid Term Evaluation', new_evaluation_path(project: @project.id, type: Evaluation::MID_TERM), class: 'btn btn-primary' %>

   <% end %>
         <%= link_to 'Add End Term Evaluation', new_evaluation_path(project: @project.id, type: Evaluation::END_TERM), class: 'btn btn-primary' if @project.end_term_evaluation.blank? %>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="amendments">
       <div class="body table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Amendment Criterias</th>
                <th>Approval Status</th>
                <th>Amendment Details</th>
                <th>Attachment</th>
                <th></th>

              </tr>
            </thead>

            <tbody>
              <% @project.project_extentions.each do |project_extention| %>
                <tr>
                  <td><%= project_extention.subject %></td>
                  <td>
                    1. Activities -/+ : <b> <%= project_extention.activity_change %> </b> <br>
                    2. Budget Change -/+ : <b><%= project_extention.budget_change %></b> <br>
                    3. Implementation Area Change : <b><%= project_extention.ia_change %></b> <br>
                    4. Does the amendment project implementation duration ? : <b> <%= project_extention.within_project_duration %> </b>
                  </td>
                  <td>
                    <div class='col-sm-8 <%= project_extention.approval_status.blank? ? "alert-danger" : 'alert-success' %>'> <%= project_extention.project_extention_approval_status %>  </div> <%= link_to 'Approve', approve_project_extention_path(project_extention), data: { approve: 'Are you sure you want to approve the amendment?' }, class: 'btn btn-primary' if project_extention.approval_status.blank? and can? :approve, ProjectExtention %></td>
                  <td><%= raw project_extention.details %></td>
                  <td><%= link_to 'Download', project_extention.amendment_details rescue nil %></td>
                  <td>
                    <%= link_to 'Show', project_extention, class: 'btn btn-primary' %>
                    <%= link_to 'Edit', edit_project_extention_path(project_extention), class: 'btn btn-primary' %>
                    <%= link_to 'Destroy', project_extention, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%= link_to 'Add New Amendment', new_project_extention_path(project: @project.id), class: 'btn btn-primary' %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="extentions">
      <div class="body table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Extention Reason</th>
                <th>Approval Status</th>
              </tr>
            </thead>

            <tbody>
              <% @project.project_amendments.each do |project_amendment| %>
                <tr>
                  
                  <td><%= project_amendment.from %></td>
                  <td><%= project_amendment.to %></td>
                  <td><%= project_amendment.amendment_reason %></td>
                  <td><%= project_amendment.approval_status %></td>

                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%= link_to 'Add New Extention', new_project_amendment_path(project: @project.id), class: 'btn btn-primary' %>
    </div>
  </div>

  
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %> |
<%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
</div>

</div>