<p id="notice"><%= notice %></p>
    <div class="header">
      <h2>
        Projects with Upcomming Endterm Evaluations
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Project Title</th>
      <th>CHSO</th>
      <th>Focus Area</th>
      <th>Sub Focus Area</th>
      <th>Regions</th>
      <th>Project Status</th>
      <th>Funding Status</th>
      
      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.project_title %></td>
        <td><%= project.institution.short_name %></td>
        <td><%= project.focus_area %></td>
        <td><%= project.sub_focus_area %></td>
        <td><%= project.implementation_areas.to_sentence %></td>
        <td>
              <label class="label <%= project.status == 'Not Started' ? 'label-default' :
                                          (project.status == 'Ongoing' ? 'label-warning' :
                                               (project.status == 'Deadline Passed' ? 'label-success' : 'label-default')) %>">
                <%= project.status %>
              </label>
        </td>
        <td><%= project.funding_status %></td>
        <td><%= link_to 'Show', project, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>