<% content_for :header do %>
    <div class="row clearfix">
          <%= link_to upcoming_mid_term_evaluations_projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text"><strong>Upcoming Mid-Term Evaluations</strong></div>
                    <div class="number"><%= current_user.projects.upcoming_mid_term_evaluations(current_user).count %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to upcoming_end_term_evaluations_projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text"><strong>Upcoming End-Term Evaluations</strong></div>
                    <div class="number"><%= current_user.projects.upcoming_end_term_evaluations(current_user).count %></div>
                  </div>
                </div>
              </div>
          <% end %>
              <%= link_to missed_mid_term_evaluations_projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text"><strong>Missed Mid-Term Evaluations</strong></div>
                    <div class="number"><%= current_user.projects.missed_mid_term_evaluations(current_user).count %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to missed_end_term_evaluations_projects_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text"><strong>Missed End-Term Evaluations</strong></div>
                    <div class="number"><%= current_user.projects.missed_end_term_evaluations(current_user).count %></div>
                  </div>
                </div>
              </div>
          <% end %>
    </div>
<div class="card">
    <div class="row clearfix">
      <div class="body table-responsive">
                        <div class="header">
                            <h2>ACCEPTED PROJECTS</h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                  <thead>
                                    <tr>
                                      <th>Project Title</th>
                                      <th>Focus Area</th>
                                      <th>Project Status</th>
                                      <th>CSO</th>
                                      <th>Acceptance Status</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% current_user.projects.each do |project| %>
                                    <% if !project.acceptance_status.blank? %> 
                                      <tr>
                                        <td><%= project.project_title %></td>
                                        <td><%= project.focus_area %></td>
                                        <td>
                                            <% if !project.acceptance_status.blank? %> 
                                            <label class="label <%= project.status == 'Not Started' ? 'label-default' :
                                                                        (project.status == 'Ongoing' ? 'label-warning' :
                                                                             (project.status == 'Deadline Passed' ? 'label-success' : 'label-default')) %>">
                                              <%= project.status %>
                                            </label>
                                            <% end %>
                                       </td>
                                       <td><%= project.institution %></td>
                                       <td>
                                          <div class='col-sm-3 <%= project.acceptance_status.blank? ? "alert-danger" : 'alert-success' %>'> <%= project.pa_status %> </div>
                                        </td>
                                        <td>
                                          <%= link_to 'Details', project, class: 'btn btn-primary' %> 
                                          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary' %>

                                        </td>
                                        </tr>
                                    <% end %>
                                    <% end %>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                   </div>
</div>

<div class="card">
    <div class="row clearfix">

      <div class="body table-responsive">
                        <div class="header">
                            <h2>ACCEPTANCE PENDING PROJECTS</h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                  <thead>
                                    <tr>
                                      <th>Project Title</th>
                                      <th>Focus Area</th>
                                      <th>CSO</th>
                                      <th>Acceptance Status</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% current_user.projects.each do |project| %>

                                    <% if project.acceptance_status.blank? %> 
                                      <tr>
                                        <td><%= project.project_title %></td>
                                        <td><%= project.focus_area %></td>
                                       <td><%= project.institution %></td>
                                       <td>
                                          <div class='col-sm-4 <%= project.acceptance_status.blank? ? "alert-danger" : 'alert-success' %>'> &nbsp; <%= project.pa_status %> &nbsp; </div>
                                          </td>
                                        <td><%= link_to 'Details', project, class: 'btn btn-primary' %>
                                        <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary' %>
                                          
                                        </td>
                                      </tr>
                                    <% end %>
                                    <% end %>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                  </div>
</div>
<% end %>
