<div class="panel panel-default">
  <div class="panel-heading">
    Projects Search Result
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
      <thead>
      <tr>
        <th>Project Title</th>
        <th>Region</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Implementing CSO</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <% if !project.acceptance_status.blank? %>
          <td><%= project.project_title %></td>
          <td><%= project.implementation_areas.joins(:region).pluck('regions.name').to_sentence %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td><%= project.institution %></td>
          <td>
                          <label class="label <%= project.status == 'Not Started' ? 'label-default' :
                                          (project.status == 'Ongoing' ? 'label-warning' :
                                               (project.status == 'Deadline Passed' ? 'label-success' : 'label-default')) %>">
                <%= project.status %>
              </label>
          </td>
          <td><%= link_to 'Details', project, class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>